# Node / Vite
node_modules/
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
firebase-debug.log*

# Environment
.env
.env.local
.env.*.local
.env.*

# OS
.DS_Store
Thumbs.db

# Mobile / Build Artifacts
*.apk
*.aab
*.keystore
*.jks
android/app/build/
graphify-out/
